<!doctype html>
<html>

<head>
	<% include templates/head.ejs %>
	<link rel="stylesheet" type="text/css" href="/client/styles/index.css">
</head>

<body>

	<div class="header">
		<div class="title white">WITEBORD</div>
	</div>

	<input class="input" id="input" type="text" placeholder="Enter Room Name" />
	<% include templates/includes.ejs %>

	<script>
		$(function () {
			$('#input').on('keypress', function (key) {
				if (key.keyCode === 13) {
					window.location.href = '/' + $('#input').val();
				}
			})
		});
	</script>

</body>

</html>