<!doctype html>
<html>

<head>
	<% include templates/head.ejs %>
	<link rel="stylesheet" type="text/css" href="/client/styles/index.css">
</head>

<body ng-app="witebord">
	<h1>MAKE A ROOM</h1>
	<h1>JOIN A ROOM</h1>
	<h1>RECENT ROOMS</h1>
	<!-- different controller for this app -->
	<!-- show all the active rooms -->
	<!-- show a list of all the recently closed rooms -->
	<% include templates/includes.ejs %>
	<!-- <script src="/client/controllers/indexController.js" type="module"></script> -->

</body>

</html>